<div>
    <a href="../">Back to homepage</a>
</div>

<div>
    {{#each allCharacters.results}}
        <h1>{{this.name}}</h1>
        <a href="/characters/{{this.id}}">
            <img src='{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}' alt=""> 
        </a>

    {{/each}}
   
</div>