<div>
    {{#each allCharacters}}
        <h1>{{this.name}}</h1>
        <a href="/characters/{{this.id}}">
            <img src='{{this.thumbnail.path}}/portrait_incredible.jpg' alt=""> 
        </a>
    {{/each}}
</div>