
<div class="lets-add-margin container">

<h1>Users Collections:</h1>

<div class="container">
{{#each userData}}
        <div class="test-item-container">
        <div>
        <a href="/collections/{{user_id}}" class="a-images">
                <img class="test-images-users" src="{{image}}" alt="">
        </a>
        </div>
        <div class="card-box">
        {{display_name}}
        </div>
        </div>
{{/each}}
</div>
</div>

<footer> 
    <a href="https://developer.marvel.com/" target="_blank">Data provided by Marvel. © 2018 Marvel</a>
</footer>


