       {{#if isLoggedIn}}
    <div class = "mycollection" data-target-collection>  
        <a href = "#">My Collection</a>
    </div> 
    {{/if}}   
    <div class="container">
      {{#if isLoggedIn}}
      <a href="/logout">Log Out</a>
      {{else}}
      <a href="/login">Log In</a>
      {{/if}}
    </div>
</div>
    
