
    <div class = "input-div"> 
    <input type= "text">
     </div>
     <div class = "container">
    <div class = "characters" data-target-character>
      <a href = "/characters">Characters</a></div>

    <div class = "comics" data-target-comics>  
       <a href = "/comics">Comics</a></div>
      
       <div class = "collection" data-target-collection>  
        <a href = "/collection">Collection</a></div>
        
    <div class="container">
      {{#if isLoggedIn}}
      <a href="/logout">Log Out</a>
      {{else}}
      <a href="/login">Log In</a>
      {{/if}}
    </div>
    </div>
    
