<div>
    <a href="./">Back to Characters</a>
</div>

{{#each comicData.results}}
    <div>
        <h4>
        {{this.title}}
        </h4>
        <img src="{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}" alt="">
        <p>
        UPC: {{this.upc}}
        </p>

    </div>
{{/each}}