html {
    box-sizing: border-box;
    min-height:100;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    min-width: 360px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgb(4, 4,4); 
    /* z-index: -2; */
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/marvelbg2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 50%;
}

.page-container {
    position: relative;
    min-height: 100%;
}

.content-wrap {
    padding-bottom: 20px;
}

.navbar {
    z-index: 2;
}

.float-right {
    display: flex;
    justify-content: right;
    float: right;
}

/* .nav-item:hover, .navbar-toggler:hover {
    background-color: grey;
    height: 100%;
} */

.ul-container {
    display: none;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ul-letters{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    width: 100%; 
    padding: 5px;
    padding-bottom: 0px;
}

.letterdropdown {
    width: 180px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.a-images {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center; 
}

.detail-images {
    width: 216px;
}

.ul-letters li {
    padding: 10px;
    padding-bottom: 0px;
    color: aliceblue;
    text-decoration: none;
}

.ul-letters li:hover {
    color: aliceblue;
    text-decoration-color: aliceblue;
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

h6 {
    display: flex;
    /* color : aliceblue; */
}

.item-container{
    display: flex;
    flex-direction: column;
    width: 216px;
    /* padding: 15px; */
    /* border: 1px blue solid; */
}

.text-container{
    display: flex;
    width: inherit;
    overflow: hidden;
}
.outer-container{
    display: flex;
    flex-direction: column;
}

.item-container-large{
    display: flex;
    flex-direction: column;
    width: 460px; 
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    right: 5px;
    height: 20px;
}

footer a {
    color: rgb(60, 64, 70);
}

.characterInComics {
    margin-top: 50px;
}

.lets-add-margin {
    margin-top: 50px;
    padding-bottom: 50px;
}

.detail-main-container {
    margin-top: 30px;
    margin-left: 50px;
}

.detail-image-markup {
    border: 2px solid red;
    border-radius: 2%;
}

a:visited, a:active{
    text-decoration: none;
    /* color: aliceblue; */
}

a { 
    /* color: aliceblue; */
}

.save-button {
    margin: 8px 0;
    cursor: pointer;
}

.test-item-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 216px;
    /* border: 1px solid grey; */
    /* margin: 5px; */
}

.test-images {
    width: 100%;
}

.test-item-container:hover {
    padding-top: 0px;
    padding-bottom: 10px;
}

.card-box {
    display: flex;
    /* padding: 0px 2px 0px 2px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    height: 45px;
    border: 1px solid rgba(4,4,4,.3);
    font-size: 14px;
    overflow: hidden;
}

.card-box-comics {
    display: flex;
    /* padding: 0px 2px 0px 2px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    height: 45px;
    border: 1px solid rgba(4,4,4,.3);
    font-size: 11px;
    overflow-y: hidden;
}

.test-images-users {
    width: 216px;
    height: 100%;
}

nav {
    cursor: pointer;
}

@media screen and (min-width: 360px) {
    .ul-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .ul-container {
        display: none;
    }

    .letterdropdown {
        width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .letterdropdown {
        display: none;
    }

    .ul-container {
        display: flex;
    }

}