html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    min-width: 360px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgb(4, 4,4); 
    /* z-index: -2; */
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/marvelbg2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 50%;
}

.navbar {
    z-index: 2;
}

.float-right {
    display: flex;
    justify-content: right;
    float: right;
}



.ul-letters{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    width: 100%; 
    padding: 5px;
    padding-bottom: 0px;
}

.a-images {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center; 
}

.ul-letters li {
    padding: 10px;
    padding-bottom: 0px;
    color: white;
    text-decoration: none;
}

.ul-letters li:hover {
    color: white;
    text-decoration-color: white;
    text-decoration: none;
}


.container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

h6 {
    display: flex;
    color : white;
}

.item-container{
    display: flex;
    flex-direction: column;
    width: 216px;
}

.text-container{
    display: flex;
    width: inherit;
    overflow: hidden;
}
.outer-container{
    display: flex;
    flex-direction: column;
}

.item-container-large{
    display: flex;
    flex-direction: column;
    width: 450px; 
}

.characterInComics {
    margin-top: 50px;
}