html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 360px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    /* min-height: 100%; */
    /* position: relative; */
    /* background-color: black; */
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/marvelbg2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 50%;
}

.navbar {
    z-index: 2;
}

nav {
    cursor: pointer;
}

.float-right {
    display: flex;
    justify-content: right;
    float: right;
}


/* .nav-item:hover,
.navbar-toggler:hover {
    background-color: grey;
    height:100%;
} */


.main-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-effect {
    position: relative;
    width: 100%;
    /* min-width: 340px; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-image: url("/public/images/characteroverlay.jpg"); */
    border-radius: 3%;
    box-shadow: 5px 5px 5px black;
    min-width: 340px;
}

.overlay-container {
    display: flex;
    justify-content: center;
}

.container-effect:hover .overlay {
    opacity: 1;
    /* border: 1px solid white; */
}

.search-container-top {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    width: 50%;
    min-width: 340px;
    padding: 10px 25px;
}

.search-container-bottom {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border:1px solid blue; */
    min-width: 340px;
    padding: 10px 25px;
}


.photo-container {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    z-index: 0;
    /* border: 1px red solid; */
}

.character-photo {
    border-radius: 3%;
    border: black 1px solid;
    width: 100%;
    min-width: 340px;
    height: 100%;
    box-shadow: 5px 5px 5px black;
}

.character-photo:hover {
    border: none;
}


/* a, a:hover{
    color: aliceblue;
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-line: none;
} */

@media screen and (min-width: 360px) {

}

@media screen and (min-width: 768px) {
    .search-container-bottom, .search-container-top {
            margin-top: 0px;
            width: 50%;
    }

    .main-container {
        margin-top: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        flex-direction: row;
        margin-top: 75px;
    }

    .search-container-bottom, .search-container-top {
            margin-top: 150px;
            width: 45%;
    }
}